<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-light" id="navbarNavAltMarkup">
        
          
            
            <div class="navbar-nav me-auto">
                <h5><a class="nav-link" href="/listings">All Listing</a></h7>
            </div>  
            
            <div class="search">
              <form class="d-flex" role="search">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search" id="search"/>
                <button class="btn btn-outline-success " id="sech" type="submit"><i class="fa-solid fa-magnifying-glass" style="margin: 2px;"></i>Search</button>
              </form>
            </div>
            
            <div class="navbar-nav ms-auto"> ">
                <a class="nav-link" href="/listings/new">Add New Site</a>
                <% if (!currentUser) { %>
                  <div class="user">
                    <div class="sign">
                      <a class="" href="/signup">Sign Up</a>
                    </div>
                    <div class="sign">
                      <a class="" href="/login">Login</a>
                    </div>
                  </div>
                <% } %>
                <% if (currentUser) { %>
                  <!-- <div class="user"> 
                    <div class="sign">
                      <a class="" href="#"><i class="fa-regular fa-user"></i></a>
                    </div>
                  </div> -->
                  <div class="user"> 
                    <div class="sign">
                      <a class="" href="/logout">LogOut</a>
                    </div>
                  </div>
                  
                <% } %>
            </div>
            
            
            
          
          
        
      </div>
    </div>
  </nav>